<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Edit Profile</title>
</head>

<body>
  <h2>Edit Profile</h2>
  <form th:action="@{/user/update/{id}(id=${user.id})}" th:method="post" th:object="${user}">
    <div>
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" required />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" th:field="*{email}" required />
    </div>
    <div>
      <label for="cellphone">Cellphone:</label>
      <input type="tel" th:field="*{cellphone}" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" th:field="*{password}" required />
    </div>
    <button type="submit">Update</button>
  </form>
  <!-- Display the success message if it exists -->
  <div th:if="${successMessage}" role="alert">
    <span style="color: green;">Perfil atualizado com sucesso!</span>
  </div>
  <a th:href="@{/hello}">Cancel</a>
</body>

</html>
