<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="flex">
  <aside th:fragment="sidebarFragment"
    class="w-64 bg-white p-6 shadow-lg h-screen fixed top-0 left-0 flex flex-col justify-between">
    <div>
      <div class="mb-8">
        <img src="/images/logo.svg" alt="Logo" class="w-20 h-20 mx-auto mb-4">
      </div>
      <nav class="flex flex-col space-y-4">
        <a href="/hello"
          class="py-2 px-4 bg-[#A5E885] rounded-lg text-black font-medium hover:bg-[#218838] hover:text-white transition duration-150"
          th:text="#{label.fragment.initial_page}">Página
          Inicial</a>
        <a href="/category/list"
          class="py-2 px-4 bg-[#A5E885] rounded-lg text-black font-medium hover:bg-[#218838] hover:text-white transition duration-150"
          th:text="#{label.fragment.manage_categories}">Gerenciar
          Categorias</a>
        <a href="/account/list"
          class="py-2 px-4 bg-[#A5E885] rounded-lg text-black font-medium hover:bg-[#218838] hover:text-white transition duration-150"
          th:text="#{label.fragment.manage_accounts}">Gerenciar
          Grupos de Transação</a>
        <a href="/user/list"
          class="py-2 px-4 bg-[#A5E885] rounded-lg text-black font-medium hover:bg-[#218838] hover:text-white transition duration-150"
          sec:authorize="hasRole('ADMIN')" th:text="#{label.fragment.manage_users}">
          Gerenciar Usuários
        </a>
      </nav>
    </div>
    <div class="text-center flex flex-col space-y-4">
      <a href="/user/profile"
        class="py-2 px-4 bg-[#A5E885] rounded-lg text-black font-medium hover:bg-[#218838] hover:text-white transition duration-150"
        th:text="#{label.fragment.update_profile}">Atualizar
        Perfil</a>
      <form th:action="@{/logout}" method="post">
        <button type="submit"
          class="w-full py-2 px-4 bg-red-500 rounded-lg text-white font-medium hover:bg-red-700 transition duration-150"
          th:text="#{label.fragment.logoff}">Sair</button>
      </form>
    </div>
  </aside>
</body>

</html>