<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Finance Show Wrong</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="min-h-screen bg-[#D7ECCD] flex">

  <!-- Include the sidebar fragment -->
  <div th:insert="fragments/sidebar :: sidebarFragment"></div>

  <div class="w-full flex items-center justify-center">
    <div class="text-center bg-white rounded-xl shadow-lg p-4 mix-blend-multiply">
      <h1 class="text-3xl font-bold mb-4">Bem Vindo(a) a ... Nada!!</h1>

      <div class="flex items-center justify-center">
        <h2 class="text-xl font-medium">Finance Show! 404</h2>
        <div class="size-fit">
            <img src="/images/new_oger.png">
        </div>
      </div>

      <p class="text-lg">
        Clique
        <a href="/hello" class="text-blue-600 font-medium hover:underline">
          aqui
        </a>
        para voltar a página inicial.
      </p>

    </div>
  </div>

</body>


</html>
