<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Transaction Registration</title>
        <link href="/css/standard.css" rel="stylesheet"/>
    </head>
    <body>
        <h2>Transaction Registration</h2>
        <form th:action="@{/transaction/save}" th:object="${transaction}" th:method="post">

            <!-- Transaction Amount -->
            <div>
                <label th:text="#{label.transaction.amount}">Amount</label>
                <input type="number" step="0.01" th:field="*{amount}" required/>
                <p th:each="error : ${#fields.errors('amount')}" th:text="${error}" style="color: red;">Validation error</p>
            </div>
            
            <!-- Transaction Category -->
            <div>
                <label th:text="#{label.transaction.category}">Category</label>
                <input th:field="*{category}" required/>
                <p th:each="error : ${#fields.errors('category')}" th:text="${error}" style="color: red;">Validation error</p>
            </div>
            
            <!-- Transaction Happened On (Date Picker) -->
            <div>
                <label th:text="#{label.transaction.happenedOn}">Happened On</label>
                <input type="datetime-local" th:field="*{happenedOn}" required/>
                <p th:each="error : ${#fields.errors('happenedOn')}" th:text="${error}">Validation error</p>
            </div>

            <button type="submit" th:text="#{label.form.submit}">Submit</button>
        </form>
        <a th:href="@{/hello}">Cancel</a>

        <div th:if="${registrationError}" style="color: red;">
            <p th:text="${registrationError}"></p>
        </div>
    </body>
</html>
