<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="flex min-h-screen bg-[#D7ECCD]">

  <!-- Include the sidebar fragment -->
  <div th:insert="fragments/sidebar :: sidebarFragment"></div>

  <main class="flex-1 p-6 ml-64">
    <div class="flex flex-row justify-between mb-4 items-center">
      <h1 class="text-2xl font-bold" th:text="#{category.title.list}">Lista de Categorias</h1>
      <a href="/category/registration"
        class="inline-block py-2 px-4 bg-[#A5E885] text-black font-medium border border-gray-600 rounded-lg hover:bg-[#218838] hover:text-white transition duration-150" th:text="#{category.add_category}">
        Adicionar Nova Categoria
      </a>
    </div>


    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-2 px-4 text-left font-medium text-gray-700" th:text="#{category.table.id}">ID</th>
            <th class="py-2 px-4 text-left font-medium text-gray-700" th:text="#{category.table.name}">Nome</th>
            <th class="py-2 px-4 text-left font-medium text-gray-700" th:text="#{category.table.actions}">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category : ${categories}" class="border-b">
            <td th:text="${category.id}" class="py-2 px-4"></td>
            <td th:text="${category.name}" class="py-2 px-4"></td>
            <td class="py-2 px-4">
              <a th:href="@{/category/delete/{id}(id=${category.id})}" class="text-red-600 hover:underline"
                onclick="return confirm('Você tem certeza que deseja deletar esta categoria?');" th:text="#{category.delete}">
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </main>

</body>

</html>
