<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="stylesheet" th:href="@{/css/chart.css}">
  <!-- Include Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="min-h-screen bg-[#D7ECCD] flex">

  <!-- Include the sidebar fragment - see fragments/sidebar.hmtl -->
  <div th:insert="fragments/sidebar :: sidebarFragment"></div>

  <main class="flex-1 p-6">
    <!-- Dashboard Section -->
    <section class="mb-6">
      <h1 class="text-2xl font-bold mb-3">Olá <span th:text="${user.name}"></span>!</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Total Balance -->
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-lg font-semibold">Saldo Total</h2>
          <p class="text-2xl" th:text="${sum_value}"></p>
        </div>
        <!-- Total Income -->
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-lg font-semibold">Total de Entradas</h2>
          <p class="text-2xl" th:text="${totalIncome}"></p>
        </div>
        <!-- Total Expenses -->
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-lg font-semibold">Total de Saídas</h2>
          <p class="text-2xl" th:text="${totalExpenses}"></p>
        </div>
      </div>
      <!-- Charts -->
      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 mt-6 justify-center mx-auto">
        <!-- Expenses by Category Chart -->
        <div class="chart-container bg-white p-6 pb-12 rounded shadow flex-none">
          <h2 class="text-lg font-semibold mb-4 text-center">Despesas por Categoria</h2>
          <canvas id="expensesByCategoryChart" class="fixed-dimension-square"></canvas>
        </div>
        <!-- Transactions Over Time Chart -->
        <div class="chart-container bg-white p-6 pb-12 rounded shadow flex-none">
          <h2 class="text-lg font-semibold mb-4 text-center">Saldo ao Longo do Tempo</h2>
          <canvas id="transactionsOverTimeChart" class="fixed-dimension-horizontal"></canvas>
        </div>
      </div>
    </section>

    <div class="flex flex-row justify-between mb-4 items-center">
      <h2 class="text-xl font-semibold">Suas Transações</h2>

      <select id="accountID" onchange="accountChange();" th:object="${accounts}"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-[#218838] focus:border-[#218838] outline-none transition duration-150"
        required>
        <option th:value="0" selected>Todas as Contas</option>
        <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}">Conta</option>
      </select>

      <select id="categoryID" onchange="accountChange();" th:object="${categories}"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-[#218838] focus:border-[#218838] outline-none transition duration-150"
        required>
        <option th:value="0" selected>Todas as Categorias</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category
        </option>
      </select>

      <a href="/transaction/registration"
        class="inline-block py-2 px-4 bg-[#A5E885] text-black font-medium border border-gray-600 rounded-lg hover:bg-[#218838] hover:text-white transition duration-150">
        Adicionar Nova Transação
      </a>
    </div>

    <div class="overflow-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg">
        <thead>
          <tr class="bg-gray-100 border-b">
            <th class="py-2 px-4 text-left">Grupo de Transação</th>
            <th class="py-2 px-4 text-left">Montante</th>
            <th class="py-2 px-4 text-left">Categoria</th>
            <th class="py-2 px-4 text-left">Data</th>
            <th class="py-2 px-4 text-left">Criado em</th>
            <th class="py-2 px-4 text-left">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="transaction : ${transactions}" class="border-b">
            <td th:text="${transaction?.account?.name}" class="py-2 px-4">Account</td>
            <td th:text="${transaction.amount}" class="py-2 px-4">Amount</td>
            <td th:text="${transaction?.category?.name}" class="py-2 px-4">Category</td>
            <td th:text="${transaction.happenedOn}" class="py-2 px-4">Happened On</td>
            <td th:text="${transaction.createdOn}" class="py-2 px-4">Created On</td>
            <td class="py-2 px-4">
              <a th:href="@{/transaction/edit/{id}(id=${transaction.id})}"
                class="text-blue-600 hover:underline">Editar</a>
              <a th:href="@{/transaction/delete/{id}(id=${transaction.id})}"
                class="text-red-600 hover:underline ml-4">Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</body>

<!-- Include your existing scripts -->
<script src="/js/hello.js"></script>

<!-- Pass data to JavaScript -->
<script th:inline="javascript">
  /*<![CDATA[*/
  var expensesByCategoryData = /*[[${expensesByCategoryJson}]]*/ '[]';
  var transactionsOverTimeData = /*[[${transactionsOverTimeJson}]]*/ '[]';
  /*]]>*/
</script>

<!-- Add a script to render charts -->
<script src="/js/dashboardCharts.js"></script>

</html>