<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="min-h-screen bg-[#D7ECCD] flex">

  <!-- Include the sidebar fragment - see fragments/sidebar.hmtl -->
  <div th:insert="fragments/sidebar :: sidebarFragment"></div>

  <main class="flex-1 p-6">
    <h1 class="text-2xl font-bold mb-4">Olá <span th:remove="tag" sec:authentication="name"></span>!</h1>

    <h2 class="text-xl font-semibold mb-4">Suas Transações</h2>

    <div class="overflow-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg">
        <thead>
          <tr class="bg-gray-100 border-b">
            <th class="py-2 px-4 text-left">ID da Transação</th>
            <th class="py-2 px-4 text-left">Montante</th>
            <th class="py-2 px-4 text-left">Categoria</th>
            <th class="py-2 px-4 text-left">Data</th>
            <th class="py-2 px-4 text-left">Criado em</th>
            <th class="py-2 px-4 text-left">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="transaction : ${transactions}" class="border-b">
            <td th:text="${transaction.id}" class="py-2 px-4">Transaction ID</td>
            <td th:text="${transaction.amount}" class="py-2 px-4">Amount</td>
            <td th:text="${transaction.category}" class="py-2 px-4">Category</td>
            <td th:text="${transaction.happenedOn}" class="py-2 px-4">Happened On</td>
            <td th:text="${transaction.createdOn}" class="py-2 px-4">Created On</td>
            <td class="py-2 px-4">
              <a th:href="@{/transaction/edit/{id}(id=${transaction.id})}"
                class="text-blue-600 hover:underline">Editar</a>
              <a th:href="@{/transaction/delete/{id}(id=${transaction.id})}"
                class="text-red-600 hover:underline ml-4">Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</body>

</html>