<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Finance Show</title>
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="min-h-screen bg-[#D7ECCD] flex flex-col justify-center items-center p-4">

  <div class="w-full max-w-md p-6 bg-white rounded-xl shadow-lg text-center">
    <h1 class="text-3xl font-bold mb-4" th:text="#{label.welcome}" >Bem Vindo(a)!</h1>

    <h2 class="text-xl font-medium mb-4" th:text="#{label.initial_page}">Esta é a página inicial do Finance Show</h2>

    <div class="justify-center items-center flex flex-row">
      <p class="text-lg" th:text="#{label.click}">
        Clique
        </p>
        &nbsp;
        <a href="/hello" th:text="#{label.click.here}" class="text-blue-600 font-medium hover:underline">
          aqui
        </a>
        &nbsp;
        <p class="text-lg" th:text="#{label.click.continue}">
        para prosseguir.
      </p>
    <div>
  </div>

</body>

</html>
